<div class="container">
     <table class="table table-striped table-dark">
       <thead>
         <th style="text-align: center">Name</th>
       </thead>
       <tr *ngFor="let character of herois"> 
         <td>
           <div style="text-align: center; font-weight: 700 ">
               <label>{{character.name | uppercase }}</label>
           </div>
           <div id="img">
             <img [src]="character.thumbnail.path + '.' + character.thumbnail.extension" width='400px' height='400px'>
           </div>
           <div>
             <button class="btn btn-primary btn-lg btn-block"><a href="{{character.urls[0].url}}" target="_blank">Detalhes</a></button>
           </div>
         </td>
       </tr>
     </table>
   </div>
